.content-wrap {
    margin: 94px auto 58px;
    max-width: 1200px;
    @media (max-width: 1199px) {
        padding: 0 24px;
    }
    @media (max-width: 767px) {
        padding: 0 16px;
    }
}
.section-title {
    grid-area: title;
    font-size: 20px;
    font-weight: var(--font-weight-bold);
    line-height: 32px;
    color: var(--gray-scale-900);
}
.product-list-wrap {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 16px;
    @media (max-width: 1199px) {
        gap: 2%;
    }
    @media (max-width: 767px) {
        gap: 0;
    }       
}
.product-list {
    margin-bottom: 40px;
    @media (max-width: 1199px) {
        width: 49%;
    }
    @media (max-width: 767px) {
        width: 100%;
    }     
}
.product-list > img {
    border-radius: 16px;
    @media (max-width: 1199px) {
        width: 100%;
    }
}
.txt-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
    color: var(--gray-scale-800);
}
.product-title {
    font-size: 14px;
    line-height: 24px;
    font-weight: var(--font-weight-medium);
}
.product-price {
    font-size: 16px;
    line-height: 26px;
    font-weight: var(--font-weight-bold);
}
.btn-like {
    display: flex;
    align-items: center;
    gap: 6px;
}
.btn-like > img {
    width: 16px;
    height: 16px;
}
.like-count {
    font-size: 12px;
    line-height: 18px;
    font-weight: var(--font-weight-medium);
    color: var(--gray-scale-600);
}
.total-product .product-list-wrap {
    margin-top: 24px;
}
.total-product {
    margin-top: 40px;
}
.total-product-top {
    display: grid;
    grid-template: 'title search button sort';
    grid-template-columns: 1fr;
    align-items: center;
    gap: 10px;
    @media (max-width: 767px) {
        grid-template: 'title button'
        'search sort';
        grid-template-columns: 1fr;
    }       
}
.total-product-top > form {
    position: relative;
    display: flex;
    gap: 10px;
}
.input-search-box {
    position: relative;
    display: flex;
    gap: 10px;
}
.input-search-box > img {
    position: absolute;
    top: 9px;
    left: 16px;
}
.input-search {
    grid-area: search;
    width: 325px;
    height: 42px;
    padding:0 16px 0 46px;
    border-radius: 12px;
    background: var(--gray-scale-100) url(../images/ic_search.svg) no-repeat left 16px center;
    border: none;
    color: var(--gray-scale-800);
    font-size: 16px;
    line-height: 26px;
    font-weight: var(--font-weight-regular);
    @media (max-width: 767px) {
        width: 100%;
    }       
}
.input-search::placeholder {
    color: var(--gray-scale-400);
}
.btn-register {
    grid-area: button;
    width: 133px;
    height: 42px;
    border-radius: 8px;
    background-color: var(--primary-color-100);
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    font-weight: var(--font-weight-semibold);
    color: var(--gray-scale-0);
}
.btn-register:hover {
    background-color: var(--primary-color-200);
}
.btn-register:active {
    background-color: var(--primary-color-300);
}
.sort {
    grid-area: sort;
    display: flex;
    position: relative;
}
.btn-sort {
    width: 130px;
    height: 42px;
    padding: 0 20px;
    border: 1px solid var(--gray-scale-200);
    border-radius: 12px;
    font-size: 16px;
    line-height: 26px;
    text-align: left;
    color: var(--gray-scale-800);
    appearance: none;
    background: url(../images/ic_arrow_down.svg) no-repeat right 12px center;
}
.sort-list {
    position: absolute;
    right: 0;
    top: 50px;
    width: 130px;
    background-color: var(--gray-scale-0);
    padding: 12px 0;
    border: 1px solid var(--gray-scale-200);
    border-radius: 12px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--gray-scale-800);
}
.sort-list li {
    padding: 0 20px;
}
.sort-list li:first-child {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--gray-scale-200);
}
.sort-list li:last-child {
    padding-top: 12px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.pagination li {
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray-scale-200);
    border-radius: 40px;
    font-size: 16px;
    font-weight: var(--font-weight-semibold);
    line-height: 40px;
    text-align: center;
    color: var(--gray-scale-500);
}
.pagination li.active {
    border: none;
    background-color: var(--primary-color-100);
    color: var(--gray-scale-0);
}
.pagination li a {
    display: block;
    width: 100%;
    height: 100%;
}
.pagination li.btn-prev a {
    background: url(../images/arrow_left.svg) no-repeat center;
}
.pagination li.btn-next a {
    background: url(../images/arrow_right.svg) no-repeat center;
}
