.login-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 640px;
    margin: 100px auto 200px;
    gap: 40px;
    @media (max-width: 1199px) {
        width: inherit;
        padding: 0 24px;
    }
    @media (max-width: 767px) {
        padding: 0 16px;
    }
}
.login-header {
    text-align: center;
}
.login-header img {
    @media (max-width: 767px) {
    width: 80%;
    }
}
.input-box-wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 24px;
    @media (max-width: 767px) {
        max-width: 400px;
    }
}
.input-box {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.input-box label {
    font-size: 18px;
    line-height: 26px;
    font-weight: var(--font-weight-bold);
    color: var(--gray-scale-800);
}
.input-box input {
    padding: 16px 24px;
    background-color: var(--gray-scale-100);
    border-radius: 12px;
    border: none;
    font-size: 16px;
    line-height: 26px;
    font-weight: var(--font-weight-regular);
    color: var(--gray-scale-800);
}
.input-box input:focus {
    border-color: var(--main-bg-color);
}
.input-box input::placeholder {
    color: var(--gray-scale-400);
}
.password-wrap {
    display: grid;
    align-items: center;
    position: relative;
}
.hide {
    position: absolute;
    right: 16px;
    height: 24px;
    cursor: pointer;
}
.btn-login-disabled {
    padding: 16px 0;
    border: none;
    border-radius: 40px;
    background-color: var(--gray-scale-400);
    font-size: 20px;
    font-weight: var(--font-weight-semibold);
    line-height: 32px;
    color: var(--gray-scale-0);
    cursor: pointer;
}
.btn-login-able {
    background-color: var(--main-bg-color );
}
.login-sns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 23px;
    border-radius: 8px;
    background-color: var(--main-bg-color-light);
}
.login-sns p {
    font-size: 16px;
    line-height: 26px;
    font-weight: var(--font-weight-medium);
}
.login-sns-icon {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    gap: 16px;
}
.login-sns-icon a {
    vertical-align: middle;
}
.login-sns-icon a img {
    display: block;
}
.move-register {
    font-size: 14px;
    text-align: center;
    font-weight: var(--font-weight-medium);
}
.move-register a {
    color: var(--main-bg-color);
    text-decoration: underline;
}
