/* common css file */
@import url(vars.css);
@import url(login.css);

/* common settings */
* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

a { 
    color: inherit;
    text-decoration: none;
}
.wrap { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1120px;
    margin: 0 auto;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    padding: 0 200px;
    background-color: var(--gray-scale-0);
}

.home img {
    width: 153px;
}

.btn-login {
    width: 128px;
    height: 48px;
    background-color: var(--main-bg-color);
    border-radius: 8px;
    color: var(--gray-scale-0);
    align-content: center;
    text-align: center;
    font-weight: var(--font-weight-semibold);
}


/* main */
main {
    margin-top: 70px;
}

/* hero-banner */
.hero-banner {
    height: 540px;
    background-color: #CFE5FF; 
}

.hero-banner .wrap {
    position: relative;
    height: 100%;
}

.hero-banner-txt {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.hero-image {
    position: absolute;
    right: 0;
    bottom: 0;
}

h2 {
    color: var(--gray-scale-700);
    font-size: 40px;
    line-height: 1.4;
    font-weight: var(--font-weight-bold);
}

.btn-move {
    display: inline-block;
    width: 357px;
    height: 56px;
    background-color: var(--main-bg-color);
    border-radius: 40px;
    color: var(--gray-scale-0);
    font-weight: var(--font-weight-semibold);  
    text-align: center;
    align-content: center;
}

/* main content */
.content-box {
    flex-direction: column;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 138px 0;
    gap: 64px;
    border-radius: 12px;
}
.eng-tag {
    color: var(--main-bg-color);
    font-size: 18px;
    font-weight: var(--font-weight-bold);
}
.content-txt h2 {
    margin: 12px 0 24px;
    line-height: 1.4;
}
.sub-txt {
    font-size: 24px;
    font-weight: var(--font-weight-medium);
    color: var(--gray-scale-700);
    line-height: 32px;
}
.content-txt.right {
    text-align: right;
}

 /* bottom-banner */
.bottom-banner {
    height: 540px;
    background-color: #CFE5FF;
}
.bottom-banner .wrap {
    height: 100%;
    background: url('/images/Img_home_bottom.png') no-repeat right bottom;
}

/* footer */
footer {
    padding: 32px 0;
    background-color: var(--gray-scale-900);
    color: var(--gray-scale-400);
}
footer .wrap {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 10px;
    max-width: 1920px;
    padding: 0 200px;
}
.copyright {
    display: flex;
    justify-content: flex-start;
}
.ft-link {
    display: flex;
    justify-content: center;
    gap: 30px;
    text-align: center;
}
.ft-link p, .ft-link a {
    font-weight: var(--font-weight-regular)
}
.sns-link {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    align-items: center;
}

/* hover */
.btn-login:hover, .btn-move:hover {
    background-color: #1967D6;
}
.btn-login:active, .btn-move:active {
    background-color: #1251AA;
}



