.total-product-top > form {
  position: relative;
  display: flex;
  gap: 10px;
}
.input-search-box {
  position: relative;
  display: flex;
  gap: 10px;
}
.input-search-box > img {
  position: absolute;
  top: 9px;
  left: 16px;
}
.input-search {
  grid-area: search;
  width: 325px;
  height: 42px;
  padding: 0 16px 0 46px;
  border-radius: 12px;
  background: var(--gray-scale-100) url(../assets/ic_search.svg) no-repeat left
    16px center;
  border: none;
  color: var(--gray-scale-800);
  font-size: 16px;
  line-height: 26px;
  font-weight: var(--font-weight-regular);
  @media (max-width: 767px) {
    width: 100%;
  }
}
.input-search::placeholder {
  color: var(--gray-scale-400);
}
.btn-register {
  grid-area: button;
  width: 133px;
  height: 42px;
  border-radius: 8px;
  background-color: var(--primary-color-100);
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  font-weight: var(--font-weight-semibold);
  color: var(--gray-scale-0);
}
.btn-register:hover {
  background-color: var(--primary-color-200);
}
.btn-register:active {
  background-color: var(--primary-color-300);
}
.sort {
  grid-area: sort;
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.btn-sort {
  width: 130px;
  height: 42px;
  padding: 0 20px;
  border: 1px solid var(--gray-scale-200);
  border-radius: 12px;
  font-size: 16px;
  text-align: left;
  color: var(--gray-scale-800);
  appearance: none;
  background: url(../assets/ic_arrow_down.svg) no-repeat right 12px center;
  align-content: center;
}
.btn-sort.icon {
  width: 42px;
  padding: 9px;
  background-image: none;
}
.sort-list {
  position: absolute;
  right: 0;
  top: 50px;
  width: 130px;
  background-color: var(--gray-scale-0);
  padding: 12px 0;
  border: 1px solid var(--gray-scale-200);
  border-radius: 12px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: var(--gray-scale-800);
}
.sort-list li {
  padding: 0 20px;
}
.sort-list li:first-child {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--gray-scale-200);
}
.sort-list li:last-child {
  padding-top: 12px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.pagination li a {
  display: block;
  width: 40px;
  height: 40px;
  border: 1px solid var(--gray-scale-200);
  border-radius: 40px;
  font-size: 16px;
  font-weight: var(--font-weight-semibold);
  line-height: 40px;
  text-align: center;
  color: var(--gray-scale-500);
}
.pagination li a.active {
  border: none;
  background-color: var(--primary-color-100);
  color: var(--gray-scale-0);
}
.pagination li.btn-prev a {
  background: url(../assets/arrow_left.svg) no-repeat center;
}
.pagination li.btn-next a {
  background: url(../assets/arrow_right.svg) no-repeat center;
}
